{% load staticfiles %}
{% load custom_tags %}
<script>
    $("[data-fancybox]").fancybox({
        infobar: false,
        touch: {
            vertical: false
        },
        buttons: ["close", "thumbs", "share"],
        animationEffect: "fade",
        transitionEffect: "fade",
        preventCaptionOverlap: false,
        idleTime: false,
    });
    $(function () {
        $('.last-image, .load-more').mouseover(function () {
            $('.last-image').parent().css('opacity', 0.35);
        }).mouseleave(function () {
            $('.last-image').parent().css('opacity', 0.6);
        });
    });
</script>
<style>
    .marker-content {
        position: relative;
        font-size: 18px;
        font-family: arial;
        width: 80vh;
        overflow: hidden;
        border-radius: 8px;
    }

    .marker-content:hover {
        cursor: default;
    }

    .header {

    }

    .header, .footer {
        background-color: #D2D1D1;
    }

    .email {
        font-style: italic;
        font-size: 16px;
    }

    .email .name {
    }

    .body {
        background-color: #FCFBFB;
    }

    .counter {
        font-size: 20px;
        margin-left: 3px;
    }

    .share {
        height: 100%;
        cursor: pointer;
    }
    .share:hover {
        opacity: 0.5;
    }

    .timestamp-content {
        font-size: 14px;
    }
</style>
<div class="marker-content p-0">
    {% csrf_token %}
    <div class="col-12">
        <div class="row header">
            <div class="col-md-12 py-3 pl-4 d-flex align-items-center">
                <a href="#"><img style="width:40px; height: 40px;"
                                 src="https://tinypng.com/images/example-orig.png"/></a>
                <span class="name ml-2 my-auto">
                    {{ marker.creator.profile.first_name }} {{ marker.creator.profile.last_name }}
                    <br/>
                    <span class="timestamp-content text-secondary">11 вересня о 05:47</span>
                </span>
                {% if marker.creator.profile.user_email_is_public %}
                    <span class="email text-secondary ml-1">(shvetsovdi2@gmail.com)</span>
                {% endif %}
                <br/>
                <span class="ml-auto my-auto d-flex align-items-center mr-2" ><i class="fas mr-1 fa-flag"></i> Повідомити</span>
                <span class="share my-auto d-flex align-items-center mr-4" onclick="follow({{ marker.id }});"><i class="fas mr-1 fa-plus"></i> Стежити</span>
            </div>
            {#            {{ marker.creator.profile.first_name }}#}
        </div>
        <div class="row body px-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="images mt-2" style="text-align: center;">
                        <div style="display: inline-block;">
                            <a class="fancybox" data-fancybox="marker-images"
                               href="{% static 'images/trob1.jpg' %}"
                               title="Twilight Memories (doraartem)">
                                <img style="width: 240px; height: 160px;" src="{% static 'images/trob1.jpg' %}" alt=""/>
                            </a>
                            <a class="fancybox" data-fancybox="marker-images"
                               href="{% static 'images/trob2.jpg' %}"
                               title="Electrical Power Lines and Pylons disappear over t.. (pautliubomir)">
                                <img style="width: 240px; height: 160px;" src="{% static 'images/trob2.jpg' %}" alt=""/>
                            </a>
                            <a class="fancybox" data-fancybox="marker-images"
                               href="{% static 'images/trob3.jpg' %}"
                               title="Morning Godafoss (Brads5)">
                                <img style="width: 240px; height: 160px;" src="{% static 'images/trob3.jpg' %}" alt=""/>
                            </a>
                            <a class="fancybox" data-fancybox="marker-images"
                               style="position:relative; text-align: center; color: white; opacity: 0.5;"
                               href="{% static 'images/trob1.jpg' %}"
                               title="Vertical - Special Edition! (cedarsphoto)">
                                <img style="width: 240px; height: 160px;" class="last-image"
                                     src="{% static 'images/trob1.jpg' %}"
                                     alt=""/>
                                <div class="load-more">+12</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row card-body mx-2">
                    <h3 class="card-title">{{ marker.name }}</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui
                        officia
                        deserunt mollit anim id est laborum.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="col-md-6 py-2 pl-4">
                <div class="align-items-center px-3">
                    <span class="icobutton">
                        <i class="fab fa-xs fa-facebook-square"></i>
                    </span>
                    <span class="icobutton">
                        <i class="fab fa-xs fa-instagram"></i>
                    </span>
                    <span class="icobutton">
                        <i class="fab fa-xs fa-xs fa-telegram"></i>
                    </span>
                    <span class="icobutton">
                        <i class="fab fa-xs fa-twitter"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-6 py-3 pl-4">
                <div style="height: 100%;" class="like-dislike-block d-flex justify-content-end align-items-center">
                    <span class="grid__item">
                        <button class="icobutton icobutton--thumbs-up"><span
                                class="fa fa-thumbs-up {{ estimator.vote|get_like_dislike_color:'like' }} like fa-xs"></span></button>
                        <span class="counter like-counter">{{ marker.get_likes_count }}</span>
                    </span>
                    <span class="grid__item ml-4 mr-4">
                        <button class="icobutton icobutton--thumbs-up"><span
                                class="fa fa-thumbs-down {{ estimator.vote|get_like_dislike_color:'dislike' }} dislike fa-xs"></span>
                        </button>
                        <span class="counter dislike-counter">{{ marker.get_dislikes_count }}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    statusBtnsInit({{ marker.id }});
</script>