{% load staticfiles %}
<script>
var iconMarkers = {
       url: '/media/imageIcons/Exlmarker.png',
        scaledSize: new google.maps.Size(70, 70)
   };
    {% for marker in markers %}
            let m{{ marker.id }} = new google.maps.Marker({
                position: {lat: {{ marker.latitude }}, lng: {{ marker.longitude }}},
                icon: iconMarkers,
                map: map,
                title: "{{ marker.name }}",
                animation: google.maps.Animation.BOUNCE,
                draggable: false
            });
            m{{ marker.id }}.set(map);
            m{{ marker.id }}.set('id', 'marker-{{ marker.id }}');
            m{{ marker.id }}.addListener('click',
                function () {
                    displayMarkerInfo(m{{ marker.id }})
                }
            );
    {% endfor %}
</script>
