{% extends 'base.html' %}
{% load staticfiles %}
{% block additional_static_files %}
    {# reCaptcha settings #}
    <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
    <script type="text/javascript" defer="">
        let onSubmit = function (token) {
            saveForm();
        };
    </script>
    <script defer="">
        function isRequiredFieldsPass() {
            let id_username = $("#id_username").val();
            let id_password = $("#id_password").val();

            if (id_username === undefined || id_username === null || id_username === "") {
                create_fancybox_alert('fail', 'Username is Required!', 'Please enter your username.', 'Error!');
                $("#id_username").focus();
                return false;
            }

            if (id_password === undefined || id_password === null || id_password === "") {
                create_fancybox_alert('fail', 'Password is Required!', 'Please enter your username password', 'Error!');
                $("#id_password2").focus();
                return false;
            }
            return true;
        }

        function create_fancybox_alert(type, title, message, footer) {
            let alert_class;
            if (type === 'success') {
                alert_class = 'alert-success';
            } else {
                alert_class = 'alert-danger';
            }

            $.fancybox.open("<div style=\"padding:0; width: 400px; border-radius:8px;\">" +
                "<div class=\"m-0 alert " + alert_class + "\" role=\"alert\">\n" +
                "  <h4 class=\"alert-heading\">" + title + "</h4>\n" +
                "  <p>" + message + "</p>\n" +
                "  <hr>\n" +
                "  <p class=\"mb-0\">" + footer + "</p>\n" +
                "</div>" +
                "</div>");
        }

        function saveForm() {
            //Get the form instance
            let $form = $("#formLogin");
            if (isRequiredFieldsPass()) {
                $.ajax({
                    method: "POST",
                    url: "",
                    data: $form.serialize(),
                    cache: false,
                    dataType: "json",
                    beforeSend: function () {
                        //Start displaying button's working animation
                        let loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> working...';
                        if ($("#btnSignIn").html() !== loadingText) {
                            $("#btnSignIn").data('original-text', $("#btnSignIn").html());
                            $("#btnSignIn").html(loadingText);
                        }
                    },
                    success: function (response) {
                        // Reload reCaptcha
                        grecaptcha.reset();
                        $("#btnSignIn").html($("#btnSignIn").data('original-text')); //stop animation and switch back to original text
                        if (response.alert_type == 'success') {
                            create_fancybox_alert('success', response.alert_title, response.alert_message, 'Well Done!');
                            let next = '{{ next }}';
                            if (next === undefined || next === null || next === "") {
                                setTimeout(function () {
                                    window.location.replace('{% url 'dashboard' %}');
                                }, 3500);
                            } else {
                                setTimeout(function () {
                                    window.location.replace(next);
                                }, 3500);
                            }

                        } else {
                            create_fancybox_alert('fail', response.alert_title, response.alert_message, 'Error!');
                        }
                    }
                });
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="col-md-3 order-md-2 mx-auto mt-5 pb-5">
        <div class="card box-shadow">
            <div class="card-body">
                <div class="py-1 text-center">
                    <img class="mb-4" src="{% static 'images/login_img.svg' %}" style="width: 100%; height: 100px;"/>
                    <h1 class="h3 mb-2 font-weight-normal">Welcome Back</h1>
                </div>
                <form id="formLogin" class="" method="POST">
                    {% csrf_token %}
                    <div class="form-label-group mb-1">
                        <label for="id_username">User Name</label></div>
                    {{ form.username }}
                    <div class="form-label-group">
                        <label for="id_password">Password</label></div>
                    {{ form.password }}
                    <div class="checkbox mb-2">
                        <div class="custom-control custom-checkbox">
                            <input id="chkKeepMe" name="chkKeepMe" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="chkKeepMe">Remember me</label></div>
                    </div>
                    <!-- reCaptcha place holder-->
                    <div data-sitekey="{{ GRECAP_SITE_KEY }}" class="g-recaptcha mt-1 mb-2"></div>
                </form>
                <div class="">
                    <button class="btn btn-lg btn-primary btn-block" onclick="saveForm();" id="btnSignIn">Sign in
                    </button>
                    <div class="mt-3 text-center">
                        <p class="mb-0"><a href="{% url 'password_reset' %}">Forgot your Password?</a>
                            <br />Don't have an account? <a href="{% url 'register' %}">Sign&nbsp;up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

