#map {
    height: 88vh;
    width: 100%;
}
.nameOfMarker{
    border-bottom: 2px solid;
    font-size: 22px;
    font-family: Roboto,sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.imageForm{
    max-width:100%;
}
.markerImage{
    margin-top:10px;
    text-align: center;
    bottom: 0;
}
.gm-style-iw-d{
    height: 450px;
    width: 380px;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    position:relative;
}
.buttonsForm{
    margin-top:10px;
}
.markerDescription{
    font-size: 14px;
    margin-top: 3px;
    font-family: Roboto,sans-serif;
}
#id_description{
    resize: none;
}
.formDelete{

}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}