header, footer{
    background-color: #dedad9;
}
.copyright{
    text-align: center;
}
.mynavbar li{
    font-size: 20px;
    margin-right: 10px !important;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer
}
.fa-container i:hover{
    opacity: 0.5;
    cursor: pointer;
}
.list-group-item a{
    display: block;
    margin: 0 !important;
}

.list-group-item a:visited, .list-group-item a:link, .list-group-item a, .fa-container{
    color: black !important;
}
.list-group-item a:hover{
    text-decoration: none !important;
}
.active{
    background-color: #e6f2ff !important;
    font-weight: bold;
}
textarea{
    resize: none !important;
    width: 100px;
    height: 180px;
}
#profile-image{
    position: relative;
    height: 200px;
}
#profile-image input{
    position: absolute;
    bottom: 0;
}
#profile-image img{
    width: 100%;
    height: 100%;
}
