<form method="POST" action="{% url 'Home' %}" id="submitMarkerForm">
    {% csrf_token %}
 <div class="modal-header">
    <h5 class="modal-title">Create new Marker</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {% for field in form %}
         {% if field.name != 'latitude' %} {% if field.name != 'longitude' %}
      <div class="form-group{% if field.errors %} invalid{% endif %}">
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
      {% if field.name == 'longitude' %}
             <script>
                 var temp;
         navigator.geolocation.getCurrentPosition(position =>{
              temp = position.coords.longitude;
             document.getElementById('id_longitude').value = temp; });
          </script>
      {% endif %}
      {% if field.name == 'latitude' %}
            <script>
                 var temp;
         navigator.geolocation.getCurrentPosition(position =>{
              temp = position.coords.latitude;
             document.getElementById('id_latitude').value = temp; });
          </script>
      {% endif %}
        {{ field }}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  <script>



  </script>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-primary">Create</button>
  </div>
</form>