
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
          <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>

    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

{#  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MyModal"></button>#}
{#    <div id="MyModal" class="modal fade" role="dialog">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">Privet</div>#}
{#                <div class="modal-body">Yasosy Biby</div>#}
{#                <div class="modal-footer">Paka</div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#  #}
<button class="create-marker btn btn-primary" type="button" name="button">Create Marker</button>
  <script type="text/javascript">
$(document).ready(function() {
    $(".create-marker").modalForm({
        formURL: "{% url 'create-marker' %}"
    });

});
</script>

  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
    <div id="map"></div>
    {% load static %}
    <link rel="stylesheet" href="/static/css/map.css" type="text/css"/>


    <script src="{% static 'js/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCrs2JD-1ER45w0o6JILgo-wmnMWm_lj4&callback=initMap" async defer></script>
    <script src="https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDevOz4ccaGWa0v8-0ALkxADKIHca2cLnA"></script>
    <script src="{% static 'js/userMarker.js' %}"></script>

    <script>
        {% for region_name, coords in regions.items %}
          let {{ region_name|lower }} = {{ coords|safe }}
          let {{ region_name|lower }}Polygon = new google.maps.Polygon({
              paths: {{ region_name|lower }},
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 3,
              fillColor: '#FF0000',
              fillOpacity: 0.35
          })
          {{ region_name|lower }}Polygon.setMap(map)
      {% endfor %}
    </script>
  </body>
</html>