{% extends 'base.html' %}
{% load custom_tags %}
{% block additional_static_files %}
    <script>
        {% for region_name, coords in regions.items %}
            let {{ region_name|lower }} = {{ coords|safe }}
            let {{ region_name|lower }}Polygon = new google.maps.Polygon({
                paths: {{ region_name|lower }},
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#FF0000',
                fillOpacity: 0.35
            })
            {{ region_name|lower }}Polygon.setMap(map)
        {% endfor %}
    </script>
{% endblock %}
{% block content %}
    <button class="create-marker btn btn-primary" type="button" name="button">Create Marker</button>
    <div id="map"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".create-marker").modalForm({
                {#formURL: "{% url 'create-marker' %}"#}
            });
        });
    </script>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
