{% extends 'base.html' %}
{% load custom_tags %}
{% load staticfiles %}
<body>
{% block content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
     <div id="map">
     </div>
{% endblock %}
{% block additional_static_files %}
    {% load static %}
    <script src="{% static 'js/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCrs2JD-1ER45w0o6JILgo-wmnMWm_lj4&callback=initMap"></script>
    <script src="https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDevOz4ccaGWa0v8-0ALkxADKIHca2cLnA"></script>
    <script src="{% static 'js/userMarker.js' %}"></script>
     <script>
       {% for region_name, info in regions_info.items %}
            let {{ region_name|lower }} = {{ info|get_item:'coords'|safe }}
            let {{ region_name|lower }}Polygon = new google.maps.Polygon({
                paths: {{ region_name|lower }},
                strokeColor: '{{ info|get_item:'hex_color'|safe }}',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '{{ info|get_item:'hex_color'|safe }}',
                fillOpacity: 0.35
            });
            {{ region_name|lower }}Polygon.setMap(map);
        {% endfor %}
    </script>
  <script>
   var icon = {
        url: 'https://i.dlpng.com/static/png/1780489_preview.png',
        scaledSize: new google.maps.Size(50, 50)
    };
        {% for marker in markers %}
          let m{{ marker.id }} = new google.maps.Marker({
            position: {lat: {{ marker.latitude }} ,lng: {{ marker.longitude }} },
             icon: icon,
             map: map,
              title: "{{ marker.name }}",
	        animation: google.maps.Animation.BOUNCE,
	        draggable: false
          });
             m{{ marker.id }}.set(map);
            var content{{ marker.id }} = '<div class="nameOfMarker"> {{ marker.name }} </div>'+
                '<div class="markerDescription"> {{marker.description}}'+
                '</div>'+
                '<div class="markerImage"><img class="imageForm" src=media/{{ marker.image }}>'+
                '</div>'+
                '<div class="buttonsForm">' +
                '<button class="formDelete">delete marker</button>' +
                '</div>';
             m{{ marker.id }}.addListener('click', function() {
                 var info{{ marker.id }} = new google.maps.InfoWindow({
                    content: content{{ marker.id }}
                });
                 info{{ marker.id }}.open(map, m{{ marker.id }});
             });
      {% endfor %}
    </script>
{% endblock %}
  </body>
